# Python
backend/venv/
backend/__pycache__/
backend/.env
backend/**/*.pyc

# Node
web/node_modules/
web/dist/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploaded media
backend/media/songs/*
backend/media/covers/*
backend/media/temp/*

# Keep empty folders
!backend/media/songs/.gitkeep
!backend/media/covers/.gitkeep
!backend/media/temp/.gitkeep